openapi: 3.0.0
info:
  contact: {}
  title: fastcomments
  version: 0.0.0
servers:
- url: https://fastcomments.com/
- url: https://eu.fastcomments.com/
paths:
  /user-search/{tenantId}:
    get:
      operationId: SearchUsers
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: usernameStartsWith
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mentionGroupIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: searchSection
        required: false
        schema:
          enum:
          - fast
          - site
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchUsersResult"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /user-presence-status:
    get:
      operationId: GetUserPresenceStatuses
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: urlIdWS
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userIds
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserPresenceStatusesResponse"
          description: Ok
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Validation Failed
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /user-notifications:
    get:
      operationId: GetUserNotifications
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - description: Used to determine whether the current page is subscribed.
        explode: true
        in: query
        name: urlId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: afterId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeContext
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: afterCreatedAt
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: dmOnly
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: noDm
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeTranslations
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeTenantNotifications
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMyNotificationsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /user-notifications/reset:
    post:
      operationId: ResetUserNotifications
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: afterId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: afterCreatedAt
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: dmOnly
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: noDm
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetUserNotificationsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /user-notifications/get-count:
    get:
      operationId: GetUserNotificationCount
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserNotificationCountResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /user-notifications/reset-count:
    post:
      operationId: ResetUserNotificationCount
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetUserNotificationsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /user-notifications/{notificationId}/mark/{newStatus}:
    post:
      operationId: UpdateUserNotificationStatus
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: newStatus
        required: true
        schema:
          enum:
          - read
          - unread
          type: string
        style: simple
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserNotificationStatusResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /user-notifications/{notificationId}/mark-opted/{optedInOrOut}:
    post:
      description: Enable or disable notifications for a specific comment.
      operationId: UpdateUserNotificationCommentSubscriptionStatus
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: optedInOrOut
        required: true
        schema:
          enum:
          - in
          - out
          type: string
        style: simple
      - explode: true
        in: query
        name: commentId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserNotificationCommentSubscriptionStatusResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /user-notifications/set-subscription-state/{subscribedOrUnsubscribed}:
    post:
      description: |-
        Enable or disable notifications for a page. When users are subscribed to a page, notifications are created
        for new root comments, and also
      operationId: UpdateUserNotificationPageSubscriptionStatus
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageTitle
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: subscribedOrUnsubscribed
        required: true
        schema:
          enum:
          - subscribe
          - unsubscribe
          type: string
        style: simple
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserNotificationPageSubscriptionStatusResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /upload-image/{tenantId}:
    post:
      description: Upload and resize an image
      operationId: UploadImage
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - description: "Size preset: \"Default\" (1000x1000px) or \"CrossPlatform\"\
          \ (creates sizes for popular devices)"
        explode: true
        in: query
        name: sizePreset
        required: false
        schema:
          $ref: "#/components/schemas/SizePreset"
        style: form
      - description: "Page id that upload is happening from, to configure"
        explode: true
        in: query
        name: urlId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UploadImage_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadImageResponse"
          description: Ok
      security: []
      tags:
      - Public
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /translations/{namespace}/{component}:
    get:
      operationId: GetTranslations
      parameters:
      - explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: component
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: useFullTranslationIds
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTranslationsResponse"
          description: Ok
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Validation Failed
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Internal
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /pages/{tenantId}:
    get:
      description: |-
        List pages for a tenant. Used by the FChat desktop client to populate its room list.
        Requires `enableFChat` to be true on the resolved custom config for each page.
        Pages that require SSO are filtered against the requesting user's group access.
      operationId: GetPagesPublic
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - description: Opaque pagination cursor returned as `nextCursor` from a prior
          request. Tied to the same `sortBy`.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "1..200, default 50"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional case-insensitive title prefix filter.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: "Sort order. `updatedAt` (default, newest first), `commentCount`\
          \ (most comments first), or `title` (alphabetical)."
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          $ref: "#/components/schemas/PagesSortBy"
        style: form
      - description: "If true, only return pages with at least one comment."
        explode: true
        in: query
        name: hasComments
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPublicPagesResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /pages/{tenantId}/users/online:
    get:
      description: |-
        Currently-online viewers of a page: people whose websocket session is subscribed to the page right now.
        Returns anonCount + totalCount (room-wide subscribers, including anon viewers we don't enumerate).
      operationId: GetOnlineUsers
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - description: Page URL identifier (cleaned server-side).
        explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - description: "Cursor: pass nextAfterName from the previous response."
        explode: true
        in: query
        name: afterName
        required: false
        schema:
          type: string
        style: form
      - description: "Cursor tiebreaker: pass nextAfterUserId from the previous response.\
          \ Required when afterName is set so name-ties don't drop entries."
        explode: true
        in: query
        name: afterUserId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageUsersOnlineResponse"
          description: Ok
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Validation Failed
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /pages/{tenantId}/users/offline:
    get:
      description: |-
        Past commenters on the page who are NOT currently online. Sorted by displayName.
        Use this after exhausting /users/online to render a "Members" section.
        Cursor pagination on commenterName: server walks the partial {tenantId, urlId, commenterName}
        index from afterName forward via $gt, no $skip cost.
      operationId: GetOfflineUsers
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - description: Page URL identifier (cleaned server-side).
        explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - description: "Cursor: pass nextAfterName from the previous response."
        explode: true
        in: query
        name: afterName
        required: false
        schema:
          type: string
        style: form
      - description: "Cursor tiebreaker: pass nextAfterUserId from the previous response.\
          \ Required when afterName is set so name-ties don't drop entries."
        explode: true
        in: query
        name: afterUserId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageUsersOfflineResponse"
          description: Ok
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Validation Failed
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /pages/{tenantId}/users/info:
    get:
      description: |-
        Bulk user info for a tenant. Given userIds, return display info from User / SSOUser.
        Used by the comment widget to enrich users that just appeared via a presence event.
        No page context: privacy is enforced uniformly (private profiles are masked).
      operationId: GetUsersInfo
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - description: Comma-delimited userIds.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageUsersInfoResponse"
          description: Ok
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Validation Failed
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /page-reacts/v1/likes/{tenantId}:
    delete:
      operationId: DeleteV1PageReact
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteV1PageReact"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
    get:
      operationId: GetV1PageLikes
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetV1PageLikes"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
    post:
      operationId: CreateV1PageReact
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateV1PageReact"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /page-reacts/v2/{tenantId}/list:
    get:
      operationId: GetV2PageReactUsers
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetV2PageReactUsersResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /page-reacts/v2/{tenantId}:
    delete:
      operationId: DeleteV2PageReact
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteV2PageReact"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
    get:
      operationId: GetV2PageReacts
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetV2PageReacts"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
    post:
      operationId: CreateV2PageReact
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateV2PageReact"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/count:
    get:
      operationId: getCount
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: text-search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: byIPFromComment
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: searchFilters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: demo
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationAPICountCommentsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/api/ids:
    get:
      operationId: getApiIds
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: text-search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: byIPFromComment
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: searchFilters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: afterId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: demo
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationAPIGetCommentIdsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/api/comments:
    get:
      operationId: getApiComments
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: text-search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: byIPFromComment
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: searchFilters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sorts
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: demo
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationAPIGetCommentsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/api/export:
    post:
      operationId: postApiExport
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: text-search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: byIPFromComment
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: searchFilters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sorts
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationExportResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/api/export/status:
    get:
      operationId: getApiExportStatus
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: batchJobId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationExportStatusResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/search/users:
    get:
      operationId: getSearchUsers
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationUserSearchResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/search/pages:
    get:
      operationId: getSearchPages
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationPageSearchResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/search/sites:
    get:
      operationId: getSearchSites
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationSiteSearchResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/search/comments/summary:
    get:
      operationId: getSearchCommentsSummary
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: searchFilters
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationCommentSearchResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/search/suggest:
    get:
      operationId: getSearchSuggest
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: text-search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationSuggestResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/pre-ban-summary/{commentId}:
    get:
      operationId: getPreBanSummary
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: includeByUserIdAndEmail
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeByIP
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeByEmailDomain
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreBanSummary"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/bulk-pre-ban-summary:
    post:
      operationId: postBulkPreBanSummary
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeByUserIdAndEmail
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeByIP
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeByEmailDomain
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkPreBanParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkPreBanSummary"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/ban-user/from-comment/{commentId}:
    post:
      operationId: postBanUserFromComment
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: banEmail
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: banEmailDomain
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: banIP
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: deleteAllUsersComments
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: bannedUntil
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: isShadowBan
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: updateId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: banReason
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BanUserFromCommentResult"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/ban-users/from-comment/{commentId}:
    get:
      operationId: getBanUsersFromComment
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBannedUsersFromCommentResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/ban-user/undo:
    post:
      operationId: postBanUserUndo
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BanUserUndoParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/remove-comment/{commentId}:
    post:
      operationId: postRemoveComment
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostRemoveCommentApiResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/restore-deleted-comment/{commentId}:
    post:
      operationId: postRestoreDeletedComment
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/flag-comment/{commentId}:
    post:
      operationId: postFlagComment
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/un-flag-comment/{commentId}:
    post:
      operationId: postUnFlagComment
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/set-comment-review-status/{commentId}:
    post:
      operationId: postSetCommentReviewStatus
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: reviewed
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/set-comment-spam-status/{commentId}:
    post:
      operationId: postSetCommentSpamStatus
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: spam
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: permNotSpam
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/set-comment-approval-status/{commentId}:
    post:
      operationId: postSetCommentApprovalStatus
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: approved
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetCommentApprovedResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/logs/{commentId}:
    get:
      operationId: getLogs
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationAPIGetLogsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/comment/{commentId}:
    get:
      operationId: getModerationComment
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: includeEmail
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeIP
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationAPICommentResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/comments-by-ids:
    post:
      operationId: postCommentsByIds
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentsByIdsParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationAPIChildCommentsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/comment-children/{commentId}:
    get:
      operationId: getCommentChildren
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationAPIChildCommentsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/get-comment-text/{commentId}:
    get:
      operationId: getModerationCommentText
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCommentTextResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/set-comment-text/{commentId}:
    post:
      operationId: postSetCommentText
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetCommentTextParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetCommentTextResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/adjust-comment-votes/{commentId}:
    post:
      operationId: postAdjustCommentVotes
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdjustCommentVotesParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdjustVotesResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/vote/{commentId}:
    post:
      operationId: postVote
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoteResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/vote/{commentId}/{voteId}:
    delete:
      operationId: deleteModerationVote
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: voteId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoteDeleteResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/get-comment-ban-status/{commentId}:
    get:
      operationId: getCommentBanStatus
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCommentBanStatusResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/user-ban-preference:
    get:
      operationId: getUserBanPreference
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIModerateGetUserBanPreferencesResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/get-manual-badges:
    get:
      operationId: getManualBadges
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTenantManualBadgesResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/get-manual-badges-for-user:
    get:
      operationId: getManualBadgesForUser
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: badgesUserId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: commentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserManualBadgesResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/award-badge:
    put:
      operationId: putAwardBadge
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: badgeId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: commentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AwardUserBadgeResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/remove-badge:
    put:
      operationId: putRemoveBadge
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: badgeId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: commentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveUserBadgeResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/get-trust-factor:
    get:
      operationId: getTrustFactor
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserTrustFactorResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/set-trust-factor:
    put:
      operationId: setTrustFactor
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: trustFactor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetUserTrustFactorResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/get-user-internal-profile:
    get:
      operationId: getUserInternalProfile
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: commentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserInternalProfileResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/reopen-thread:
    put:
      operationId: putReopenThread
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/mod_api/close-thread:
    put:
      operationId: putCloseThread
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /auth/my-account/moderate-comments/banned-users/mod_api/counts:
    get:
      operationId: getCounts
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBannedUsersCountResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Moderation
      x-accepts:
      - application/json
  /gifs/trending/{tenantId}:
    get:
      operationId: GetGifsTrending
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: rating
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetGifsTrendingResponse"
          description: Ok
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /gifs/search/{tenantId}:
    get:
      operationId: GetGifsSearch
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: search
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: rating
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetGifsSearchResponse"
          description: Ok
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Validation Failed
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /gifs/get-large/{tenantId}:
    get:
      operationId: GetGifLarge
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: largeInternalURLSanitized
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GifGetLargeResponse"
          description: Ok
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Validation Failed
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /flag-comment/{commentId}:
    post:
      operationId: FlagCommentPublic
      parameters:
      - explode: true
        in: query
        name: tenantId
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: isFlagged
        required: true
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIEmptyResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /feed-posts/{tenantId}:
    get:
      description: |2-

        req
        tenantId
        afterId
      operationId: GetFeedPostsPublic
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: afterId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: isCrawler
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeUserInfo
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicFeedPostsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
    post:
      operationId: CreateFeedPostPublic
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFeedPostParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateFeedPostResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-content-type: application/json
      x-accepts:
      - application/json
  /feed-posts/{tenantId}/react/{postId}:
    post:
      operationId: ReactFeedPostPublic
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: isUndo
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReactBodyParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReactFeedPostResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-content-type: application/json
      x-accepts:
      - application/json
  /feed-posts/{tenantId}/user-reacts:
    get:
      operationId: GetUserReactsPublic
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: postIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserReactsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /feed-posts/{tenantId}/{postId}:
    delete:
      operationId: DeleteFeedPostPublic
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteFeedPostPublicResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
    put:
      operationId: UpdateFeedPostPublic
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: broadcastId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFeedPostParams"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateFeedPostResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-content-type: application/json
      x-accepts:
      - application/json
  /feed-posts/{tenantId}/stats:
    get:
      operationId: GetFeedPostsStats
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: postIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sso
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedPostsStatsResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /event-log/{tenantId}:
    get:
      description: |2-

        req
        tenantId
        urlId
        userIdWS
      operationId: GetEventLog
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userIdWS
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: startTime
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEventLogResponse"
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Error
      security: []
      tags:
      - Public
      x-accepts:
      - application/json
  /event-log/global/{tenantId}:
    get:
      description: |2-

        req
        tenantId
        urlId
        userIdWS
      operationId: GetGlobalEventLog
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: urlId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userIdWS
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: startTime
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEventLogResponse"
          description: Ok
[...]
